#
# SPDX-License-Identifier: Apache-2.0
#


# Coverage directory used by tools like istanbul
coverage

# Dependency directories
./chaincode-typescript/node_modules/

# Compiled TypeScript files
dist

